body{
    background-color: cornflowerblue;
}

.table{  width: 100%;   background-color: beige; padding: 10px;}
.table  td, .table th {        
    padding: 5px 10px;
    text-align: left;
}
.table th {    
    text-align: left;
    background-color:darkslategray;
    color: white;
    border-radius:   5px;
}

.table tr:nth-child(even){background-color: darkgrey;}

.MainContent{   padding: 0 15%;}

.page{
    display: grid;
    grid-template-columns: auto auto;
}
.page div{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 20px;
}

th:last-child{
    width: 11%;
    background: darkred;        
}
.addButton{    
    text-decoration: none;    
    color: #f2f2f2;
}
th:last-child:hover{
    background: #f2f2f2;
    background-color: #04AA6D;
}

.form{    
    margin: 0 35%; margin-top: 50px;       
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    padding:20px;
    background-color: #f2f2f2;
}
@media screen and (max-width:780px){
    
    .form{    
        margin: 0 15%;
    }
}
.form h1{
    color: brown;
    text-transform: uppercase;
    
}
.form input{   
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.form input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: #fff;
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}
.form button{
    
    width: 100%;
    padding: 10px 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #04AA6D;
    border: none;
    color: #fff;
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}


.flex{
    display: flex;    
    justify-content: space-between;    
}
.form input[type=text] {
    border: 2px solid #04AA6D;
    border-radius: 4px;
  }

