.table{    
    margin-top: 0px;
    width: 100%;    
}
.table  td, .table th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.area{    margin: 0 10%;    }
.MainContent{
    height: 100vh;
}

.page{
    display: grid;
    grid-template-columns: auto auto;
}
.page div{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 20px;
}

.form{    margin-top: 50px;    }
.form input{   
    margin-bottom: 20px;
    width: 80%;
    padding: 10px 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.form input:last-child{
    background-color: #04AA6D;
    border: none;
    color: #fff;
}
.form input[type=text] {
    border: 2px solid #04AA6D;
    border-radius: 4px;
  }