.image-main{
  background-size: cover;  
  background-position: center;
}
.main-div{
  background-image: url('component/download.jpg');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-text {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: white;
}
img{
  width: 100%;
}


.small-screen{
  display: none ;
}
@media only screen and (min-width: 600px) {
  .post-image{
    height: 500px;
  }

}
@media only screen and (max-width: 600px) {
  .small-screen{
    display: block;
  }
  .large-screen{
    display: none;
  }
  .small-row-column{
    flex-direction: column;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
